
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul>
    <li>
        <a href="~/home/villancico">Mi Burrito Sabanero</a>
        <p>Esta canción fue compuesta en 1975 por el músico venezolano Hugo Blanco. ‘El burrito de Belén’, como también se le conoce, es uno de los villancicos más recordados por su ritmo y su letra.</p>
    </li>
    <li>
        <a href="villancico.html">Mi Burrito Sabanero</a>
        <p>Esta canción fue compuesta en 1975 por el músico venezolano Hugo Blanco. ‘El burrito de Belén’, como también se le conoce, es uno de los villancicos más recordados por su ritmo y su letra.</p>
    </li>
    <li>
        <a href="villancico.html">Mi Burrito Sabanero</a>
        <p>Esta canción fue compuesta en 1975 por el músico venezolano Hugo Blanco. ‘El burrito de Belén’, como también se le conoce, es uno de los villancicos más recordados por su ritmo y su letra.</p>
    </li>
    <li>
        <a href="villancico.html">Mi Burrito Sabanero</a>
        <p>Esta canción fue compuesta en 1975 por el músico venezolano Hugo Blanco. ‘El burrito de Belén’, como también se le conoce, es uno de los villancicos más recordados por su ritmo y su letra.</p>
    </li>
    <li>
        <a href="villancico.html">Mi Burrito Sabanero</a>
        <p>Esta canción fue compuesta en 1975 por el músico venezolano Hugo Blanco. ‘El burrito de Belén’, como también se le conoce, es uno de los villancicos más recordados por su ritmo y su letra.</p>
    </li>
    <li>
        <a href="villancico.html">Mi Burrito Sabanero</a>
        <p>Esta canción fue compuesta en 1975 por el músico venezolano Hugo Blanco. ‘El burrito de Belén’, como también se le conoce, es uno de los villancicos más recordados por su ritmo y su letra.</p>
    </li>
    <li>
        <a href="villancico.html">Mi Burrito Sabanero</a>
        <p>Esta canción fue compuesta en 1975 por el músico venezolano Hugo Blanco. ‘El burrito de Belén’, como también se le conoce, es uno de los villancicos más recordados por su ritmo y su letra.</p>
    </li>
    <li>
        <a href="villancico.html">Mi Burrito Sabanero</a>
        <p>Esta canción fue compuesta en 1975 por el músico venezolano Hugo Blanco. ‘El burrito de Belén’, como también se le conoce, es uno de los villancicos más recordados por su ritmo y su letra.</p>
    </li>
    <li>
        <a href="villancico.html">Mi Burrito Sabanero</a>
        <p>Esta canción fue compuesta en 1975 por el músico venezolano Hugo Blanco. ‘El burrito de Belén’, como también se le conoce, es uno de los villancicos más recordados por su ritmo y su letra.</p>
    </li>
    <li>
        <a href="villancico.html">Mi Burrito Sabanero</a>
        <p>Esta canción fue compuesta en 1975 por el músico venezolano Hugo Blanco. ‘El burrito de Belén’, como también se le conoce, es uno de los villancicos más recordados por su ritmo y su letra.</p>
    </li>
</ul>


