@model IEnumerable<Ejercicio6.Models.ViewModels.IndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul>
    @foreach (var villancico in Model)
    {
        <li>
            <a href="~/home/villancico">@villancico.Nombre</a>
            <p>@villancico.Informacion</p>
        </li>
    }

</ul>


