
@{
    ViewData["Title"] = "Corto";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="principalVerCorto">
    <img class="blur" src="~/images/portadas/6_pc.jpg">
    <div class="datosCorto">
        <h1>Peque&#xF1;o Gran Buzz</h1>
        <p>
            Buzz Lightyear se queda olvidado en un restaurante de comida r&#xE1;pida al ser confundido con la versi&#xF3;n del propio Buzz que viene de regalo en el men&#xFA; infantil. Mientras los juguetes de Bonnie soportan a este imitador de 7 cm de alto que emite un molesto zumbido, el Buzz real asiste a un grupo de terapia de apoyo que hay en el propio restaurante para todos los juguetes desechados y olvidados all&#xED;. Woody y la pandilla idean una manera de rescatar a su amigo, mientras que Buzz trata de escapar de esa reuni&#xF3;n de psicoterapia de juguetes para poder reunirse con sus amigos. Cortometraje derivado de la franquicia &quot;Toy Story&quot;, estrenado en cines junto a la pel&#xED;cula &quot;Los Muppets&quot;, en noviembre de 2011.
        </p>
    </div>
</div>
