@model IEnumerable<Ejercicio5.Models.Categoria>
@{
    ViewData["Title"] = "Cortos";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div id="principalPeliculas">

    <div id="pelis">
        
        @foreach (var categoria in Model)
        {
            <h1>@categoria.Nombre</h1>

            @foreach (var corto in categoria.Cortometraje)
            {
                <div>
                    <a class="imgPelicula" href="~/corto/@corto.Nombre.Replace(" ","_")">
                        <img src="~/images/portadas/@(corto.Id)_pc.jpg" alt="Peque&#xF1;o Gran Buzz">
                    </a>
                    <div class="nombrePelicula">
                        <p>@corto.Nombre</p>
                    </div>
                </div>
            }     

        }

    </div>
</div>
