
@{
    ViewData["Title"] = "Cortos";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div id="principalPeliculas">

    <div id="pelis">
        <h1>Animaciones de Toy Story</h1>
        <div>
            <a class="imgPelicula" href="Pequeño.html">
                <img src="~/images/portadas/6_pc.jpg" alt="Peque&#xF1;o Gran Buzz">
            </a>
            <div class="nombrePelicula">
                <p>Peque&#xF1;o Gran Buzz</p>
            </div>
        </div>
        <div>
            <a class="imgPelicula" href="Pequeño.html">
                <img src="~/images/portadas/6_pc.jpg" alt="Peque&#xF1;o Gran Buzz">
            </a>
            <div class="nombrePelicula">
                <p>Peque&#xF1;o Gran Buzz</p>
            </div>
        </div>
        <h1>Animaciones de Toy Story</h1>
        <div>
            <a class="imgPelicula" href="Pequeño.html">
                <img src="~/images/portadas/6_pc.jpg" alt="Peque&#xF1;o Gran Buzz">
            </a>
            <div class="nombrePelicula">
                <p>Peque&#xF1;o Gran Buzz</p>
            </div>
        </div>
        <div>
            <a class="imgPelicula" href="Pequeño.html">
                <img src="~/images/portadas/6_pc.jpg" alt="Peque&#xF1;o Gran Buzz">
            </a>
            <div class="nombrePelicula">
                <p>Peque&#xF1;o Gran Buzz</p>
            </div>
        </div>
        <h1>Animaciones de Toy Story</h1>
        <div>
            <a class="imgPelicula" href="Pequeño.html">
                <img src="~/images/portadas/6_pc.jpg" alt="Peque&#xF1;o Gran Buzz">
            </a>
            <div class="nombrePelicula">
                <p>Peque&#xF1;o Gran Buzz</p>
            </div>
        </div>
        <div>
            <a class="imgPelicula" href="Pequeño.html">
                <img src="~/images/portadas/6_pc.jpg" alt="Peque&#xF1;o Gran Buzz">
            </a>
            <div class="nombrePelicula">
                <p>Peque&#xF1;o Gran Buzz</p>
            </div>
        </div>
    </div>
</div>
