
@{
    ViewData["Title"] = "Peliculas";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="pelis">
    <div>
        <a class="imgPelicula" href="bichos.html">
            <img src="~/images/portadas/2_p.jpg" alt="Bichos">
        </a>
        <div class="nombrePelicula">
            <p>Bichos</p>
        </div>
    </div>
    <div>
        <a class="imgPelicula" href="bichos.html">
            <img src="~/images/portadas/2_p.jpg" alt="Bichos">
        </a>
        <div class="nombrePelicula">
            <p>Bichos</p>
        </div>
    </div>
    <div>
        <a class="imgPelicula" href="bichos.html">
            <img src="~/images/portadas/2_p.jpg" alt="Bichos">
        </a>
        <div class="nombrePelicula">
            <p>Bichos</p>
        </div>
    </div>
    <div>
        <a class="imgPelicula" href="bichos.html">
            <img src="~/images/portadas/2_p.jpg" alt="Bichos">
        </a>
        <div class="nombrePelicula">
            <p>Bichos</p>
        </div>
    </div>
    <div>
        <a class="imgPelicula" href="bichos.html">
            <img src="~/images/portadas/2_p.jpg" alt="Bichos">
        </a>
        <div class="nombrePelicula">
            <p>Bichos</p>
        </div>
    </div>
    <div>
        <a class="imgPelicula" href="bichos.html">
            <img src="~/images/portadas/2_p.jpg" alt="Bichos">
        </a>
        <div class="nombrePelicula">
            <p>Bichos</p>
        </div>
    </div>
    <div>
        <a class="imgPelicula" href="bichos.html">
            <img src="~/images/portadas/2_p.jpg" alt="Bichos">
        </a>
        <div class="nombrePelicula">
            <p>Bichos</p>
        </div>
    </div>
    <div>
        <a class="imgPelicula" href="bichos.html">
            <img src="~/images/portadas/2_p.jpg" alt="Bichos">
        </a>
        <div class="nombrePelicula">
            <p>Bichos</p>
        </div>
    </div>
    <div>
        <a class="imgPelicula" href="bichos.html">
            <img src="~/images/portadas/2_p.jpg" alt="Bichos">
        </a>
        <div class="nombrePelicula">
            <p>Bichos</p>
        </div>
    </div>
    <div>
        <a class="imgPelicula" href="bichos.html">
            <img src="~/images/portadas/2_p.jpg" alt="Bichos">
        </a>
        <div class="nombrePelicula">
            <p>Bichos</p>
        </div>
    </div>
</div>


