@model IEnumerable<Ejercicio5.Models.ViewModels.PeliculasViewModel>
@{
    ViewData["Title"] = "Peliculas";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="pelis">

   @foreach (var pelicula in Model)
    {
        <div>
            <a class="imgPelicula" href="~/Pelicula/@(pelicula.Nombre.Replace(" ","-"))">
                <img src="~/images/portadas/@(pelicula.Id)_p.jpg" alt="Bichos">
            </a>
            <div class="nombrePelicula">
                <p>@pelicula.Nombre</p>
            </div>
        </div>
    }
   
</div>


