
@{
    ViewData["Title"] = "Pelicula";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="principalVer">

    <div class="container">
        <img class="image1" src="~/images/banners/2_b.jpg">
        <div class="overlay">
            <img class="image2" src="~/images/banners/2_b.png">
        </div>

    </div>

    <div class="datosPelicula">
        <h1>Bichos: Una aventura en miniatura</h1>
        <h2>
            A Bug's life • 25 nov. 1998</h2>
            <p>
                Flick vive en una colonia de hormigas que, tras el invierno, es asaltada por un grupo de saltamontes. &#xC9;stos cada a&#xF1;o acuden al hormiguero y se llevan parte de la comida que recogen de cara a la &#xE9;poca de fr&#xED;o, como parte de un trato muy antiguo y que las hormigas, por miedo, a la otra parte, no se permiten transgredir.
            </p>


            <div class="personajes">
                <h2>Personajes</h2>
                <div>
                    <a>
                        <img src="~/images/personajes/76.jpg" alt="Flik">
                    </a>
                    <div class="nombrePelicula">
                        <p>Flik</p>
                    </div>
                </div>
                <div>
                    <a>
                        <img src="~/images/personajes/76.jpg" alt="Flik">
                    </a>
                    <div class="nombrePelicula">
                        <p>Flik</p>
                    </div>
                </div>

                <div>
                    <a>
                        <img src="~/images/personajes/76.jpg" alt="Flik">
                    </a>
                    <div class="nombrePelicula">
                        <p>Flik</p>
                    </div>
                </div>

                <div>
                    <a>
                        <img src="~/images/personajes/76.jpg" alt="Flik">
                    </a>
                    <div class="nombrePelicula">
                        <p>Flik</p>
                    </div>
                </div>

                <div>
                    <a>
                        <img src="~/images/personajes/76.jpg" alt="Flik">
                    </a>
                    <div class="nombrePelicula">
                        <p>Flik</p>
                    </div>
                </div>

                <div>
                    <a>
                        <img src="~/images/personajes/76.jpg" alt="Flik">
                    </a>
                    <div class="nombrePelicula">
                        <p>Flik</p>
                    </div>
                </div>

                <div>
                    <a>
                        <img src="~/images/personajes/76.jpg" alt="Flik">
                    </a>
                    <div class="nombrePelicula">
                        <p>Flik</p>
                    </div>
                </div>

                <div>
                    <a>
                        <img src="~/images/personajes/76.jpg" alt="Flik">
                    </a>
                    <div class="nombrePelicula">
                        <p>Flik</p>
                    </div>
                </div>

                <div>
                    <a>
                        <img src="~/images/personajes/76.jpg" alt="Flik">
                    </a>
                    <div class="nombrePelicula">
                        <p>Flik</p>
                    </div>
                </div>

                <div>
                    <a>
                        <img src="~/images/personajes/76.jpg" alt="Flik">
                    </a>
                    <div class="nombrePelicula">
                        <p>Flik</p>
                    </div>
                </div>

            </div>
    </div>
</div>