@model IEnumerable<Ejercicio4.Models.ViewModels.IndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h1>Oferta Académica</h1>


<ol class="rectangle-list">
    @foreach (var carrera in Model)
    {
        <li><a href="~/home/datos">@carrera.Plan @carrera.Nombre.ToUpper()</a></li>
    }
</ol>


