
@{
    ViewData["Title"] = "Reticula";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>
    <a class="btn" href="javascript: history.back()">&#x25c0; Regresar</a>
    Ing. en Sistemas Computacionales
</h1>



<h2>ISIC-2010-220</h2>
<h2>Total de creditos: 360</h2>
<section class="reticula">
    <table>
        <thead>
            <tr>
                <th>1 semestre</th>
                <th>2 semestre</th>
                <th>3 semestre</th>
                <th>4 semestre</th>
                <th>5 semestre</th>
                <th>6 semestre</th>
                <th>7 semestre</th>
                <th>8 semestre</th>
                <th>9 semestre</th>
            </tr>
        </thead>
        <tr>
            <td>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
            </td>
            <td>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
            </td>
            <td>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
            </td>
            <td>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
            </td>
            <td>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
            </td>
            <td>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
            </td>
            <td>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
            </td>
            <td>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
            </td>
            <td>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
                <div class="materia">
                    <span class="clave">ABC-1234</span>
                    <span class="nombre">INTRODUCCIÓN A LOS SISTEMAS COMPUTACIONALES</span>
                    <span class="tpc">2-3-5</span>
                </div>
            </td>

        </tr>

    </table>
</section>

